/*
Theme Name: Hello Elementor Child
Theme URI: https://github.com/elementor/hello-theme/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Elementor Team
Author URI: https://elementor.com/
Template: hello-elementor
Version: 1.0.1
Text Domain: hello-elementor-child
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/*
    Add your custom styles here
*/

.elementor-button-info .elementor-button {
  background-color: #2ebce7!important;
  border-bottom: 2px solid #127d9d!important;
  color: #fff!important;

}

.elementor-button-info .elementor-button:hover {
  border-bottom: 2px solid #0e1e33!important;
  background-color: #5ccbec!important;
  color: #19355b!important;
}
